// Place all the styles related to the proto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #F00;
  }
}

/* show.html.haml */
div {
  .col-md-3 p {
    width: 250px;
  }

  .col-md-6 p {
    width: 550px;
  }
  word-wrap: break-word;
}

.comment_content {
  .cmt_unity {
    margin: 2% 0;
  }
  .user_thumbnail {
    width: 5%;
  }
  .cmt {

  }
}

/* new.html.haml */
.cover-image-upload {
  text-align: center;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}
.image-upload {
  text-align: center;
  img {
    height: 200px;
  }
}
