// Place all the styles related to the proto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #F00;
  }
}

div {
  .col-md-3 p {
    width: 250px;
  }

  .col-md-6 p {
    width: 550px;
  }
  word-wrap: break-word;
}
