.user_operation {
  position: absolute;
  height: 2em;
  width: 30%;
  .operation_list {
    background-color: #FFF;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 0;
    display: none;
    padding: 0;
    li {
      margin-left: 15%;
      list-style: none;
    }
  }
}
